@import url('https://fonts.googleapis.com/css?family=Raleway');

html,
h1,
h2,
h3,
h4,
h5,
h6,
a {
  font-family: 'Raleway';
}

a {
  text-decoration: none;
}
.title {
  display: inline-block;
}
.pokemon {
  margin: 0 auto;
}
.navbar {
  background: #f97300;
}
.nav-link,
.navbar-brand {
  color: #f4f4f4;
  cursor: pointer;
}
.nav-link {
  margin-right: 1em !important;
}
.nav-link:hover {
  background: #f4f4f4;
  color: #f97300;
}
.navbar-collapse {
  justify-content: flex-end;
}
.navbar-toggler {
  background: #fff !important;
}

/*header style*/
.header {
  background-image: url('../images/headerback.png');
  background-attachment: fixed;
  background-size: cover;
  background-position: center;
}

.overlay {
  position: absolute;
  min-height: 100%;
  min-width: 100%;
  left: 0;
  top: 0;
  background: rgba(244, 244, 244, 0.79);
}

.description {
  position: absolute;
  top: 30%;
  margin: auto;
  padding: 2em;
  word-break: keep-all;
  align-items: flex-start;
}
.description h3 {
  color: #f97300;
  text-align: left;
}
.description p {
  color: #666;
  font-size: 20px;
  width: 50%;
  line-height: 1.5;
  text-align: left;
}
.description button {
  border: 1px solid #f97300;
  background: #f97300;
  color: #fff;
  float: left;
}

.about {
  margin: 4em 0;
  padding: 1em;
  position: relative;
  padding-top: 60px;
}
.about--title {
  color: #f97300;
  margin: 2em;
  text-align: center;
  padding-top: 1rem;
}

.about img {
  height: 100%;
  width: 100%;
  border-radius: 50%;
}
.about span {
  display: block;
  color: #888;
  position: absolute;
  left: 115px;
}
.about .desc {
  padding: 2em;
  border-left: 4px solid #10828c;
}
.about .desc h3 {
  color: #10828c;
}
.about .desc p {
  line-height: 2;
  color: #888;
}

/*Portfolio*/
.portfolio {
  margin: 4em 0;
  position: relative;
  padding-top: 10px;
}
.portfolio h1 {
  color: #f97300;
  margin: 2em;
}
.portfolio img {
  height: 15rem;
  width: 100%;
  margin: 1em;
}

.blog {
  margin: 4em 0;
  position: relative;
  padding-top: 10px;
}
.blog h1 {
  color: #f97300;
  margin: 2em;
}
.blog .card {
  box-shadow: 0 0 20px #ccc;
}
.blog .card img {
  width: 100%;
  height: 12em;
}
.blog .card-title {
  color: #f97300;
}
.blog .card-body {
  padding: 1em;
}

.contact-form {
  margin: 6em 0;
  position: relative;
  padding-top: 20px;
}
.contact-form h1 {
  padding: 2em 1px;
  color: #f97300;
}
.contact-form .right {
  max-width: 600px;
}
.contact-form .right .btn-secondary {
  background: #f97300;
  color: #fff;
  border: 0;
}
.contact-form .right .form-control::placeholder {
  color: #888;
  font-size: 16px;
}
